.banner {
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 700px;

  &--topfade {
    height: 7rem;
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.2), #000);
    position: relative;
    top: 0px;
  }

  &--bottomfade {
    height: 11rem;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7), #000);
    position: relative;
    top: 241px;
  }

  &__contents {
    width: 1200px;
    position: relative;
    top: 220px;
    margin: 0 auto;
    padding: 0 2rem;

    &-description {
      max-width: 500px;
      height: 200px;
      text-shadow: 1px 1px 10px #000000;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-overview {
      font-size: 1.5rem;
    }
  }
}
