.banner {
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 700px;

  &--bottomfade {
    height: 9rem;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7), #000);
    position: relative;
    top: 273px;
  }

  &__contents {
    width: 1600px;
    position: relative;
    top: 220px;
    margin: 0 auto;
    padding: 0 2rem;

    &-description {
      max-width: 500px;
      height: 200px;
      text-shadow: 1px 1px 10px #000000;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-overview {
      font-size: 1.5rem;
    }

    &-vote {
      display: inline-block;
      background-color: #350050;
      padding: 0.5rem;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 1616px) {
  .banner {
    &__contents {
      width: 1400px;
    }
  }
}

@media (max-width: 1416px) {
  .banner {
    &__contents {
      width: 1200px;
    }
  }
}

@media (max-width: 1216px) {
  .banner {
    &__contents {
      width: 1000px;
    }
  }
}

@media (max-width: 1016px) {
  .banner {
    &--bottomfade {
      top: 285px;
    }

    &__contents {
      width: 900px;
    }
  }
}

@media (max-width: 916px) {
  .banner {
    &--bottomfade {
      top: 285px;
    }

    &__contents {
      width: 700px;
    }
  }
}

@media (max-width: 716px) {
  .banner {
    &--bottomfade {
      top: 287px;
    }

    &__contents {
      width: 100%;

      &-title {
        font-size: 2.2rem;
      }

      &-overview {
        font-size: 1.2rem;
      }
    }
  }
}
