.grid {
  width: 1600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  top: -45px;
}

@media (max-width: 1616px) {
  .grid {
    width: 1400px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1416px) {
  .grid {
    width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    top: -70px;
  }
}

@media (max-width: 1216px) {
  .grid {
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1016px) {
  .grid {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 616px) {
  .grid {
    width: 350px;
    grid-template-columns: 1fr;
  }
}
