.header {
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.7), #000);

  &__inner {
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1rem 2rem;
  }

  &__logo a {
    color: #6641aa;
    cursor: pointer;
  }

  .fa-bars,
  .fa-times {
    display: none;
  }
}

@media (max-width: 1616px) {
  .header {
    &__inner {
      width: 1400px;
    }
  }
}

@media (max-width: 1416px) {
  .header {
    &__inner {
      width: 1200px;
    }
  }
}

@media (max-width: 1216px) {
  .header {
    &__inner {
      width: 1000px;
    }
  }
}

@media (max-width: 1016px) {
  .header {
    .fa-bars,
    .fa-times {
      font-size: 2rem;
      cursor: pointer;
    }

    .fa-bars {
      display: block;
    }
    .fa-bars--invisible {
      display: none;
    }

    .fa-times--visible {
      display: block;
      z-index: 10;
    }

    &__inner {
      width: 600px;
    }
  }
}

@media (max-width: 616px) {
  .header {
    &__inner {
      width: 350px;
    }
  }
}
